# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

pubspec.lock

deno.lock

private

config/out

**/.env.**

!**/.env.example

# JS
node_modules

# Other

dist

out

# Nuxt
.nuxt
web-ref

*.pem
.terraform
