<script setup lang="ts">
// color mode

</script>

<template>
    <div>
        <!-- Header -->
        <div>
            <!-- Logo -->
            <div></div>

            <!-- Logo -->
            <div></div>

            <!-- Ending Options -->
            <div>
                <nav>
                    <NuxtLink></NuxtLink>
                    <NuxtLink></NuxtLink>
                </nav>

                <NuxtLink></NuxtLink>

                <!-- Color Mode -->
                <button></button>
            </div>
        </div>
        <slot />
    </div>
</template>